<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Startseite</title>
    <meta name="description" content="Sonnenstrahl Energie AG">
    <meta name="author" content="WWI19B">
    <link rel="stylesheet" href="/etc/css/font.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/etc/css/navigation.css">
    <link rel="stylesheet" href="/etc/css/body.css">
    <link rel="stylesheet" href="/etc/css/footer.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/etc/packages/chartjs/dist/Chart.bundle.min.js"></script>
    <script src="/etc/js/tarifrechner.js"></script>
  </head>

  <body>
    <main>
      <!-- Navigation -->
      <header>
        <nav>
          <div class="brand">
          <!-- LOGO LINKS -->
            <div class="logo">
            <a class="nav_img" href="./index.html"><img class="nav_img" src="./etc/img/logo.png" alt="Logo" ></a>
            </div>
          </div>
          <div class="menu">
            <!-- Navigation Liste -->
            <ul class="nav_ul">
              <!-- INDEX -->
              <li class="nav_li"><a class="nav_a" href="./index.html">Sonnenstrahl Energie AG</a></li>
            </ul>
          </div>
        </nav>
      </header>


      <div id="hero-section">
        <img id="hero-img" src="./etc/img/stage.jpg" alt="Stade Bild: Photovoltaikanlage"></img>
        <div class="content-breit">
          <div class="text_modul">
            <h5>Datenschutz</h5>
            <p>	Wir informieren Sie hiermit darüber, dass Ihre Person bezogenen Daten in maschinenlesbarer Form gespeichert werden. Die Behandlung erfolgt damit nach den gesetzlichen Datenschutzbestimmungen. Wir werden Ihre Daten nicht an Dritte weitergeben. Personenbezogene Daten sind etwa Ihr Name, Ihre Adresse oder Telefonnummer, mit der sich Ihre Identität ermitteln lässt. Nicht hierunter fallen jedoch Informationen, welche Webseiten unseres Angebots von einer bestimmten IP-Adresse aus abgerufen werden oder welchen Browser ein Internet-Nutzer beim Zugriff auf unser Angebot verwendet.</p>
            <br>
            <h5>	Haftungsausschluss (Disclaimer)</h5>
            <p>	Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich (§ 7 Abs. 1 TMG). Wir sind jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinwiesen (§§ 8 bis 10 TMG). Davon unberührt bleiben Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
            <br>
            <h5>	Haftung für Links</h5>
            <p>	Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
            <br>
            <h5>	Urheberrecht</h5>
            <p>	Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen. Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
            <br>
            <h5>	Datenschutz</h5>
            <p>	Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Die Nutzung der Angebote und Dienste ist, soweit möglich, stets ohne Angabe personenbezogener Daten möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
            </p>
          </div>
        </div>
      </div>
    </main>


    <footer>
        <!-- Kontakt -->
        <div id="Kontakt" class="footer-spalte">
            <h5 class="h5_footer">Kontakt</h5>
                <p class="p_footer">DHBW Heidenheim Projekt WWI19B</p>
                <p class="p_footer">Ann-Kathrin Plapp 5631113</p>
                <p class="p_footer">Felix Schmidt 6098168</p>
                <p class="p_footer">Irma Miller 5959185</p>
        </div>     
        <div id="Rechtliches" class="footer-spalte">
          <h5 class="h5_footer">Rechtliches</h5>
            <p class="p_footer"><a href="impressum.html">Impressum</a></p>
            <p class="p_footer"><a href="datenschutz.html">Datenschutz</a></p>
        </div>     
    </footer>
  </body>
</html>
