<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Startseite</title>
    <meta name="description" content="Sonnenstrahl Energie AG">
    <meta name="author" content="WWI19B">
    <link rel="stylesheet" href="/etc/css/font.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/etc/css/navigation.css">
    <link rel="stylesheet" href="/etc/css/body.css">
    <link rel="stylesheet" href="/etc/css/footer.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/etc/packages/chartjs/dist/Chart.bundle.min.js"></script>
    <script src="/etc/js/tarifrechner.js"></script>
  </head>

  <body>
    <main>
      <!-- Navigation -->
      <header>
        <nav>
          <div class="brand">
          <!-- LOGO LINKS -->
            <div class="logo">
            <a class="nav_img" href="./index.html"><img class="nav_img" src="./etc/img/logo.png" alt="Logo" ></a>
            </div>
          </div>
          <div class="menu">
            <!-- Navigation Liste -->
            <ul class="nav_ul">
              <!-- INDEX -->
              <li class="nav_li"><a class="nav_a" href="./index.html">Sonnenstrahl Energie AG</a></li>
            </ul>
          </div>
        </nav>
      </header>


      <div id="hero-section">
        <img id="hero-img" src="./etc/img/stage.jpg" alt="Stade Bild: Photovoltaikanlage"></img>
        <div class="content-breit">
          
          <!-- tarifrechner -->
          <div id="tarifrechner" class="box">
            <section id="input">
                <table>
                  <tr>
                    <td class="left"><label for="plz">PLZ:</label></td>
                    <td><input type="number" name="plz" id="plz" value=""></td>
                  </tr>
                  <tr>
                    <td class="left"><label for="consumption">Verbrauch pro Jahr (kW/h):</label></td>
                    <td><input type="number" name="consumption" id="consumption"></td>
                  </tr>
                </table>
                <button id="submitTarifRequest" class="large green button">Jetzt berechnen</button>
            </section>
            <section id="output"></section>
          </div>
          <div id="history" class="box">
            <h1>Historie</h1>
            <section id="historyoutput"></section>
          </div>
        </div>
      </div>
    </main>


    <footer>
        <!-- Kontakt -->
        <div id="Kontakt" class="footer-spalte">
            <h5 class="h5_footer">Kontakt</h5>
                <p class="p_footer">DHBW Heidenheim Projekt WWI19B</p>
                <p class="p_footer">Ann-Kathrin Plapp 5631113</p>
                <p class="p_footer">Felix Schmidt 6098168</p>
                <p class="p_footer">Irma Miller 5959185</p>
        </div> 
        <div id="Rechtliches" class="footer-spalte">
          <h5 class="h5_footer">Rechtliches</h5>
            <p class="p_footer"><a href="impressum.html">Impressum</a></p>
            <p class="p_footer"><a href="datenschutz.html">Datenschutz</a></p>
        </div>         
    </footer>
  </body>
</html>
