@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
  color: black;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

#hero-section {
  padding-top: 30px;
  
  height: auto;
  background: white;
  text-align: center;
  }


.content-breit{
  margin-left:15%;
  margin-right:15%;
  position: relative;
  display: inline-block;
  text-align: left;
}


#hero-img {
  vertical-align: middle;
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  object-position: 50% 40%;
}

.box{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border: 5px solid #e58996;
}

#plz, #consumption{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
}

table{
  width: 500px;
}

button{
    padding: 12px 30px;
    text-transform: uppercase;
    background-color: #f1d88c;
    border-color: #f1d88c;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


th{
  font: caption;
  text-align: center;
}
td{
  text-align: center;
}
.left{
  text-align: left;
}

button:hover{
  background-color: #e58996;
  border-color: #e58996;
}

